@model WebMVC_GiaoVien_LichGiangDay.Models.LichGiangDay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LichGiangDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiangDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiangDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaoVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaoVien.BoMon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLich">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
